*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(14, 75, 0);
}

h1{
    color: white;
    margin-bottom: 50px;
}

/* container generale */
.container{
    padding: 50px;
    text-align: center;
    width: 70%;
    margin:0 auto;
}

/* container cerchi */

#box_circle{
    display: flex;
    flex-wrap: wrap;
    width: calc(80px * 10);
}

/* cerchi */
.circle{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(14, 75, 0);;
}


.blue{
    background-color: lightblue;
}


.pink{
    background-color: pink;
}

.green{
    background-color: lightgreen;
}
.orange{
    background-color: orange;
}

/* animazioni */

.rotate1 {
    animation: spin1 1s linear infinite;
}
@keyframes spin1 {
    0% {
        transform: rotate(1turn);
    }
}

.rotate2 {
    animation: spin2 1s linear infinite;
}
@keyframes spin2 {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(365deg);
    }
 
}
.rotate3 {
    animation: spin3 2s linear infinite;
}
@keyframes spin3 {
    0% {
        transform: rotate(1turn);
    }

}



.opacity1 {
    animation: ghost1 1s linear infinite;
}
@keyframes ghost1 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.opacity2 {
    animation: ghost2 0.5s linear infinite;
}
@keyframes ghost2 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
.opacity3 {
    animation: ghost3 2s linear infinite;
}
@keyframes ghost3 {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}




.batti1 {
    animation: scala1 1s linear infinite;
}
@keyframes scala1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
}
.batti2 {
    animation: scala2 1s linear infinite;
}
@keyframes scala2 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.1);
    }
}
.batti3 {
    animation: scala3 1.5s linear infinite;
}
@keyframes scala3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.5);
    }
}
